<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
        <title>Cd Organizer Delete All CD</title>
    </head>
    <body>
        <div class="container">
            <header><h1>CD Organizer</h1></header>
            <br>
            <h3>You deleted your entire Cd collection! Weird!</h3>

            <h4><a href="/">Back to Home Page</a></h4>
        </div>

    </body>
</html>
